@import "./config.scss";

.nav {
    background-color: $primary-color;
    align-items: center;
    display: flex;
    padding: 0 2rem !important;
    width: 100%;

    .menu {
        width: 100%;
    }
    .menu_items {
        display: flex;
    }
    .menu_item {
        color: #333333;
        padding: 0.5rem 1rem;
        a{
            font-size: 3ch;
        }
        &:hover {
            background: rgba(0, 0, 0, 0.034);
        }

    }
    .menu_link {
        text-decoration: none;
        color: $primary-text-color;
        &:hover {
            border-bottom: 2px solid #ffffff;
        }
    }
}
