@import "./config.scss";
@import "./header.scss";
@import "./productos.scss";
@import "./footer.scss";

main.content {
    .main_portada {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 5ch;
        margin-bottom: 3rem;
    }
    padding: 0 2rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

section.main_content {
    background-color: whitesmoke;
    padding: 3rem;
    .titulo {
        text-align: center;
    }
    #mainCarrousel {
        .carousel-inner {
            width: 60rem;
        }
        img {
            height: 30rem;
        }
    }
}
